{% extends 'layout.html' %} {% block content %} {% from 'helpers/_forms.html'
import render_field %}

<div class="col-md-12 col-md-offset-1">
  <h3>Login</h3>
  <form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
      {{ render_field(form.username, class='form-control',
      placeholder='Username') }}
    </div>
    <div class="form-group">
      {{ render_field(form.password, class='form-control',
      placeholder='Password') }}
    </div>

    <button type="submit" class="btn btn-success btn-block btn-lg">
      Enviar
    </button>
  </form>
</div>

{% endblock %}
